<!DOCTYPE html>
<head>
    <title>Mixtape</title>
    <link rel="stylesheet"
          type=text/css
          href="{{ url_for('static', filename='styles/mixtape.css') }}">
</head>
<body>
    <div class="container">
        <img class="cassette-image" src="{{url_for('static', filename='images/looping_cassette.gif')}}"/>
        <iframe class="spotify-embed"
            src="https://open.spotify.com/embed?uri=spotify:user:matthewh806:playlist:1VfP8zPgShaslC1m3lwkoj"
            width="300"
            height="380"
            frameborder="0"
            allowtransparency="true">
        </iframe>
    </div>
</body>
</html>